<!DOCTYPE html>
<html lang="en">
<%- include(headerPath, { 
        bot, user, path, 
        description: "Some useful info about the Infinity Bot List License", 
        description2: "Some useful info about the Infinity Bot List License", 
        title: `${bot.user.username} | Website License`, 
        main_title: `${bot.user.username} | Website License`, 
        image: "none" }) %>

    <body>

        <center>
            <img src="https://i.imgur.com/GRo0Zug.png" alt="Infinity Bot List" style="width: 220px; animation: jump 0.8s;">
            <br>
            <h1><i class="fa fa-copyright"></i> Website License</h1>
            <hr>
        </center>
        <br>
        <center>
            <div>
                <div class="faq">
                    <h2>Definitions</h2>

                    <p>
                        <code>“You”</code> and <code>“Licensee”</code> refers to the person, entity or organization which is downloading and/or using the source code for the infinitybots.gg website, and any successor or assignee of same. <code>“This Agreement"</code>                        refers to this license agreement, and terms and conditions specified herein. <code>“Source Code”</code> refers to the Infinity Bots project, website, themes, or any copyrightable work licensed under This Agreement. <code>“Infinity Bots"</code>                        refers to the website infinitybots.gg, its owner, and its successors, or manufacturer and owner of the source code.
                    </p>

                    <h2>Ownership of Source Code and Copyrights</h2>

                    <ul>
                        <li>The Website and Source Code are copyrighted and protected by Canadian Laws. Infinity Bots may make changes to the Source Code at any time without notice, but is not obligated to support or update the Source Code.</li>
                        <li>Except as otherwise expressly provided, Infinity Bots grants no express or implied right under Infinity Bots patents, copyrights, trademarks, or other intellectual property rights.</li>
                        <li>You may
                            <Storng>not</Storng> remove copyright notices (if any) from the Website or Source Code prior to downloading or reproducing our Website or Source Code.</li>
                        <li>You may <strong>not</strong> transfer, reproduce, redistribute or sub-license our Website or Source Code without direct written consent.</li>
                    </ul>

                    <h2>Modifications</h2>

                    <p>
                        You are <strong>not</strong> authorized to make any modification(s) to our Website or Source Code.
                    </p>

                    <h2>Authorized Use</h2>

                    <p>
                        You may <strong>not</strong> use our Website or Source Code for any personal, nonprofit or commercial purposes.
                    </p>

                    <h2>Redistribution</h2>

                    <ul>
                        <li>You may not make our Source Code, modified or unmodified, available for download from any website.</li>
                        <li>You may not redistribute, resell or sub-license the Infinity Bots Website or Source Code in any form.</li>
                    </ul>

                    <h2>Limited Warranty</h2>

                    <p>
                        Our Website and Source Code are provided on a "as is" basis and Infinity Bots disclaims all warranties relating to its Website and Source Code, whether expressed or implied, including but not limited to any implied warranties of premium and resale for
                        a particular purpose.
                    </p>

                    <h2>Termination</h2>

                    <ul>
                        <li>This Agreement terminates immediately if you violate the terms of This Agreement.</li>
                        <li>
                            You agree that monetary damages alone is not an adequate and just relief resulting from any breach of This Agreement, that a court order prohibiting any further breach of This Agreement may be issued to prevent further damages, and that you will not oppose
                            any reasonable request for a temporary restraining order, preliminary injunction, or other relief sought by Infinity Bots in the event of a breach of This Agreement.
                        </li>
                        <li>
                            Infinity Bots shall not be required to notify you of any breach, nor make any demand or claim against you resulting from any such breach, or a demand to stop any use or distribution in violation of the terms of This Agreement, and you agree that any breach
                            of This Agreement and damages resulting therefrom shall relate back to the first and earliest breach thereof.
                        </li>
                        <li>
                            Failure of Infinity Bots to enforce its rights pursuant to This Agreement shall not constitute a waiver of such rights, and shall not prejudice Infinity Bots in any later enforcement of its rights or rights to seek damages therefrom.
                        </li>
                    </ul>

                    <h2>ENTIRE AGREEMENT</h2>

                    <p>
                        This Agreement is the entire agreement between you and Infinity Bots relating to the Licensed Website and Source Code, and supersedes all prior written or oral statements, promises, representations and agreements.
                    </p>

                    <h2>Governing Law</h2>
                    <ul>
                        <li>The agreement shall be governed by the laws of Canada.</li>
                        <li>
                            Any action or proceeding brought by either party against the other arising out of or related to this agreement shall be brought only in a state or federal court of competent jurisdiction. The parties hereby consent to the personal jurisdiction of such
                            courts.
                        </li>
                    </ul>
                </div>
            </div>
        </center>

    </body>

    <br><br>

    <center>
        <a href="//www.dmca.com/Protection/Status.aspx?ID=6bfe1403-c4b3-45a4-921f-1359a6215327" style="display:none;" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca-badge-w250-5x1-08.png?ID=6bfe1403-c4b3-45a4-921f-1359a6215327" alt="DMCA.com Protection Status" /></a>
        <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js">
        </script>
    </center>

    <%- include(footerPath) %>

</html>
