<!DOCTYPE html>
<html lang="en">
  <%- include(headerPath, { 
    bot, user, path, 
    description: `Infinity Bot List, ${small_text || "Nothing to find here"}`, 
    description2: "Infinity Bot List", 
    title: `${bot.user.username} - ${title_text || 'Nothing to find here'}`, 
    main_title: `${bot.user.username} - ${title_text || 'Nothing to find here'}`, 
    image: "none" }) %>
<body>
<center>
  <!-- Some News -->
<h1><strong style="font-size: 150px;"><%= big_text || "Nothing to find here" %></strong></h1>
<p><strong><%= small_text || "Nothing to find here" %></strong></p>
</center>

<center>
<a href="//www.dmca.com/Protection/Status.aspx?ID=6bfe1403-c4b3-45a4-921f-1359a6215327" style="display:none;" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w250-5x1-08.png?ID=6bfe1403-c4b3-45a4-921f-1359a6215327"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
</center>

<%- include(footerPath) %>
</body>
</html>
