<!DOCTYPE html>
<html lang="en">
  <%- include(headerPath, { 
    bot, user, path, 
    description: "Infinity Bot List, Our Sponsers/Partners !", 
    description2: "Infinity Bot List", 
    title: `${bot.user.username} | Partners`, 
    main_title: `${bot.user.username} | Partners`, 
    image: "none" }) %>
<body>
  <!-- Partner Cards -->
  <center><h1><i class="fa fa-handshake-o"></i> Our Partners</h1></center><hr>
<div class="container">
  <!-- Discord Bot Constructor -->
  <div class="partner_card">
      <img src="https://cdn.discordapp.com/attachments/911881082457169920/994509239131312250/DBC.png" alt="Discord Bot Constructor" style="border-radius: 100%; width: 180px; height: 180px;">
      <h3 style="cursor: pointer;" onclick="window.location.href = 'https://discord.gg/4YG4PwQg63'">Discord Bot Constructor</h3>
      <p style="height: 120px;">
         Get A Free Custom Discord Bot - No Ads, No Paywalls, And 200 Feature Selection
        <br />
      </p>
      <hr>
      <p class="note">Owned By: Doc#8983</p>
      <button class="realbutton" onclick="window.location.href = 'https://discord.gg/4YG4PwQg63'">Discord</button>
  </div>
  <!-- Discord Israel Hub -->
  <div class="partner_card">
    <img src="https://cdn.discordapp.com/icons/892880219663380520/a_4623c7f666100184f8e89bf062fb8406" alt="Grey" style="border-radius: 100%; width: 180px; height: 180px;">
    <h3 style="cursor: pointer;" onclick="window.location.href = 'https://discord.gg/pAZ4FHpyXf'">Discord Israel Hub</h3>
    <p style="height: 120px;">
      Welcome! "Discord Israel Hub" is Your place to unite with the Discord community and managers and grow together!
      <br />
    </p>
    <hr>
    <p class="note">Owned By: ItsRealZeOri#6969</p>
    <button class="realbutton" onclick="window.location.href = 'https://discord.gg/pAZ4FHpyXf'">Discord</button>
</div>
</div>

  <h2 style="margin-left: 70px;">Bot Partners:</h2>
  <hr>
  
<div class="container">
  <!-- Bot Partners -->
  
    <!-- Trivia Bot -->
    <div class="partner_card">
      <img src="https://cdn.discordapp.com/avatars/715906723982082139/b9eed3a8771cf9ff21416e432f85b0cb.webp" alt="TriviaBot"
        style="border-radius: 100%; width: 180px; height: 180px;">
      <h3 style="cursor: pointer;" onclick="window.location.href = 'https://triviabot.co.uk/?source=infinitybotlist'">Trivia
        Bot</h3>
      <p style="height: 120px;">A Trivia/Quiz Discord Bot with over 90000 questions, nitro as prizes, teams, leaderboards,
        dashboard, and can give winners roles as rewards!</p>
      <hr>
      <p class="note">Owned By: Brain</p>
      <button class="realbutton" onclick="window.location.href = 'https://triviabot.co.uk/?source=infinitybotlist'">View
        Trivia</button>
      <button class="realbutton" onclick="window.location.href = 'https://discord.com/invite/brainbox'">Discord</button>
    </div>
    

    <!-- Mystic Warrior Bot -->
    <div class="partner_card">
      <img src="https://cdn.discordapp.com/avatars/921265626826301441/8c9fb36e7cdfe8f2736f266a355c98c6.webp" alt="Mystic Warrior"
        style="border-radius: 100%; width: 180px; height: 180px;">
      <h3 style="cursor: pointer;" onclick="window.location.href = 'https://dashboard.mystic-development.repl.co/?source=infinitybotlist'">Mystic Warrior
        Bot</h3>
      <p style="height: 120px;">Mystic Warrior is a bot with over features like moderation, economy, games, utilities, and more! We are also constantly evolving to meet the server requirements. We have 200+ commands.</p>
      <hr>
      <p class="note">Owned By: Viking</p>
      <button class="realbutton" onclick="window.location.href = 'https://dashboard.mystic-development.repl.co//?source=infinitybotlist'">View
        Mystic</button>
      <button class="realbutton" onclick="window.location.href = 'https://discord.gg/FcykbqrW8X'">Discord</button>
    </div>

      <!-- Anti-Raid -->
      <div class="partner_card">
        <img src="https://cdn.discordapp.com/avatars/858308969998974987/98063d603f273a5cff5ce448603130a3.webp" alt="AntiRaid"
          style="border-radius: 100%; width: 180px; height: 180px;">
        <h3 style="cursor: pointer;" onclick="window.location.href = 'https://antiraid.xyz/?source=infinitybotlist'">AntiRaid
          Bot</h3>
        <p style="height: 120px;">The description: One of the mostly good free and always improving moderation bot!</p>
        <hr>
        <p class="note">Owned By: Nouxtoxs</p>
        <button class="realbutton" onclick="window.location.href = 'https://antiraid.xyz/?source=infinitybotlist'">View
          AntiRaid</button>
	<button class="realbutton" onclick="window.location.href = 'https://discord.gg/k3rcRBc8'">Discord</button>
      </div>

      <!-- Melon Bot -->
    <div class="partner_card">
      <img src="https://media.discordapp.net/attachments/653733403841134600/1006265763591630898/IMG_7265.webp" alt="Melon Bot"
        style="border-radius: 100%; width: 180px; height: 180px;">
      <h3 style="cursor: pointer;" onclick="window.location.href = 'https://infinitybots.gg/bots/808706062013825036/'">Melon</h3>
      <p style="height: 120px;"> Melon is a bot designed to keep your server safe and engage your members with limitless capabilities. Melon comes inbuilt with an advanced giveaway module, custom commands, starboard, reminders, suggestions, moderation, logging, donation logging and much more!</p>
      <hr>
      <p class="note">Owned By: inthedark.org#0666</p>
      <button class="realbutton" onclick="window.location.href = 'https://melonbot.io/'">Website</button>
      <button class="realbutton" onclick="window.location.href = 'https://discord.gg/mXfYuMy92r'">Discord</button>
    </div>
  </div>
  
  <h2 style="margin-left: 70px;">Bot List Partners:</h2>
  <hr>
  
<div class="container">
  <!-- Bot List Partners -->
  
    <!-- Topic Bot List -->
    <div class="partner_card">
      <img src="https://media.discordapp.net/attachments/922329669884342302/927144475397087242/aa531606-a037-4e5a-b184-c28624e1e116_static.png?width=128&height=128" alt="Topic"
        style="border-radius: 100%; width: 180px; height: 180px;">
      <h3 style="cursor: pointer;" onclick="window.location.href = 'https://topiclist.xyz/?source=infinitybotlist'">Topic Bot List</h3>
      <p style="height: 120px;">Do you want to expand and improve your Discord bot? TopicList is here for you!</p>
      <hr>
      <p class="note">Owned By: ranveersoni#1894</p>
      <button class="realbutton" onclick="window.location.href = 'https://twitter.com/topicbotlist'">Twitter</button>
      <button class="realbutton" onclick="window.location.href = 'https://topiclist.xyz/ '">Website</button>
    </div>
   </div>
 </div>

<center>
<a href="//www.dmca.com/Protection/Status.aspx?ID=6bfe1403-c4b3-45a4-921f-1359a6215327" style="display:none;" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w250-5x1-08.png?ID=6bfe1403-c4b3-45a4-921f-1359a6215327"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
</center>

<%- include(footerPath) %>

</body>
</html>
