<!DOCTYPE html>
<html lang="en">
  <%- include(headerPath, { 
    bot, user, path, 
    description: "Join our Official Discord Server and come Hang Out and Chat with our Members and Staff.", 
    description2: "Join our Official Discord Server and come Hang Out and Chat with our Members and Staff.", 
    title: `InfinityBots | Discord Server`, 
    main_title: `InfinityBots | Discord Server`, 
    image: "none" }) %>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="0;URL=https://discord.com/oauth2/authorize?prompt=none&response_type=code&redirect_uri=https%3A%2F%2Finfinitybotlist.com%2Fcallback&scope=identify&client_id=815553000470478850" />
    </head>

<!-- Alert -->

<body>

<center>
  <img src="https://i.imgur.com/GRo0Zug.png" alt="Infinity Bot List" style="width: 220px; animation: jump 0.8s;">
  <br>
    <h1>Redirecting!!</h1>

    <br>
    <p>You are being redirected to our Discord Authorization, if nothing happens, please <a href="https://discord.com/oauth2/authorize?prompt=none&response_type=code&redirect_uri=https%3A%2F%2Finfinitybotlist.com%2Fcallback&scope=identify&client_id=815553000470478850">follow this link</a></p>

</center>

<style>
  @keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }
</style>
</body>
</html>
