<!DOCTYPE html>
<html lang="en">
  <%- include(headerPath, { 
    bot, user, path, 
    description: "Join our Official Testing Server.", 
    description2: "Join our Official Testing Server.", 
    title: `InfinityBots | Testing Server`, 
    main_title: `InfinityBots | Testing Server`, 
    image: "none" }) %>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="0;URL=https://discord.gg/GTwX923tH2" />
    </head>

<body>
<center>
  <% if(theme == "dark") { %> <img src="https://i.imgur.com/GRo0Zug.png" alt="Infinity Bot List" style="width: 220px;"><% }else{ %><img src="https://i.imgur.com/GRo0Zug.png" alt="Infinity Bot List" style="width: 220px;"><% } %><br>

  <center>

    <h1>Redirecting!</h1>

    <br>
    <p>You are being redirected to our Testing Server, if nothing happens, please <a href="https://discord.gg/GTwX923tH2">follow this link</a></p>

</center>
</body>
</html>
